.condition {
    padding: 50px 0px 100px 0px;
    background: #fff9f8;
    span.name {
        font-weight: normal;
        font-size: 1em;
        display: block;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}